@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Estilos para la barra superior*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100hv;
    font-family: "Poppins", sans-serif;
    background-color: rgb(10, 10, 63);
}
.logo {
    color: rgb(255, 94, 0);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: xx-large;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(10, 10, 63);
    color: white;
    position: relative;
    font-weight: 400;
  }
  
  /* responsive */
  nav.active {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav h2.logo {
    font-weight: bold;
    font-size: xx-large;
  }
  
  nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
  }
  
  ul.nav-links {
    display: flex;
  }
  
  /* responsive */
  nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
  }
  
  li.nav-link:hover {
    border: 2px solid rgb(60, 241, 157);
    border-radius: 1rem;
  }

  li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-size: large;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
  }

/*Estilos para cada una de las secciones y sus componentes*/
.section{
    height: 100vh;
    background-attachment: fixed;
}
.part1 {
    font-family: "Poppins", sans-serif;
    position: relative;
    left: 300px;
    top: 200px;
}
.title1 {
    font-weight: 700;
    font-size: 9rem;
    color: rgb(255, 94, 0);
}

h2 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

.bottom {
    color: white;
    background-color: rgb(255, 94, 0);
    padding: 10px;
    line-height: 1.5;
    font-size: 2rem;
}

.home1 {
    position: absolute;
    right: 200px;
    top: 200px;
}

.title2 {
    color: rgb(255, 94, 0);
    font-weight: 300;
    font-size: 2rem;
}

.subtitle {
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

.p1 {
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

.part2 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: 200px;
    top: 1300px;
    height: 100vh;
}

.about1 {
    position: absolute;
    left: 300px;
    top: 1300px;
}

.part3 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    right: 900px;
    top: 2100px;
    height: 100vh;
    text-align: center;
}

.img {
    background-color: white;
    position: absolute;
    left: 300px;
    top: 2300px;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

.img2 {
  background-color: white;
  position: absolute;
  left: 700px;
  top: 2300px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.img3 {
  background-color: white;
  position: absolute;
  left: 1100px;
  top: 2300px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.td1 {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
}

.td2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.td3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(255, 94, 0);
}

.part4 {
  font-family: "Poppins", sans-serif;
  position: absolute;
  right: 700px;
  top: 3100px;
  height: 100vh;
  text-align: center;
}

.img4 {
  position: absolute;
  top: 3300px;
  left: 200px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.img5 {
  position: absolute;
  top: 3300px;
  left: 800px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.img6 {
  position: absolute;
  top: 3300px;
  left: 1400px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.td4 {
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: rgb(255, 94, 0);
}

.td5 {
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}

.part5 {
  font-family: "Poppins", sans-serif;
  background-color: rgb(245, 235, 223);
  width: 80%;
  position: absolute;
  left: 200px;
  top: 4200px;
  height: 600px;
  text-align: center;
}
.subtitle1 {
  color: rgb(10, 10, 63);
  font-weight: 500;
  font-size: 4rem;
  padding-top: 90px;
  line-height: 2;
}
/*Estilos implementados al pie de página*/
.p2 {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  border-bottom: 2px solid rgb(255, 94, 0);
  width: max-content;
  line-height: 1.5;
}
.footer1 {
  position: absolute;
  width: 100%;
  left: 200px;
  top: 5000px;
  padding-bottom: 50px;
}

.textFooter {
  text-align: left;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.textFooter:hover {
  text-align: left;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(255, 94, 0);
  text-decoration: underline;
}

.footer2 {
  position: absolute;
  width: 100%;
  left: 500px;
  top: 5000px;
  padding-bottom: 50px;
}

.footer3 {
  position: absolute;
  width: 100%;
  left: 900px;
  top: 5000px;
  padding-bottom: 50px;
}

.footer4 {
  position: absolute;
  width: 100%;
  left: 1300px;
  top: 5000px;
  padding-bottom: 50px;
}
.icons {
  background-color: rgb(255, 94, 0);
  padding: 5px;
  border-radius: 50px;
}

.icons:hover {
  background-color: white;
  padding: 5px;
  border-radius: 50px;
}
